/* custom output antigo */

/* Custom CSS */

:root {
    /* ACEPIPE color pallette*/
    --primary: #7d4810;
    --primaryRgb: rgb(125, 72, 16, 0.9);

    --cardBackgroundRgb: rgb(125, 72, 16, 0.1);

    --secondary: #ffcc00;
    --secondaryRgb: rgb(255, 204, 0, 0.9);

    --bodyBackground: #e7e5e4;
    --bodyBackgroundRgb: rgb(231, 229, 228, 0.5);

    /* dark-mode */
    --darkModeBg: #202124;
    --darkModeCardBg: rgb(59, 29, 1);
    --darkModeCardBorder: rgba(255, 249, 223, 0.568);
}

.bi-linkedin {
    stroke: white;
    color:#007bb5;
}

.bi-instagram{
    stroke: white;
    color:#ec3b00;
}

.bi-facebook {
    stroke: white;
    color: #00489f;
}
.body-container {
    flex: 1 0 auto;
    background-color: transparent;
}


.footer {
    width: 100%;
    height: 100%;
    border-top-width: 4px;
    border-color: rgba(143, 69, 0, 0.527);
    /* text-align: center; */
}

.footer.dark-mode {
    background-color: var(--darkModeBg);
    border-color: rgba(255, 196, 0, 0.733);


}

.footer-text {
    color: var(--primary);
}

.footer-text.dark-mode {
    color: white;
}

nav {
    background-color: var(--primary);
}

nav.dark-mode {
    background-color: var(--darkModeBg);
}



.navbar-sub-menu {
    background-color: transparent;
}

#links-div {
    background-color: transparent;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: var(--primary);



}

#links-div.dark-mode {
    background-color: transparent;
    border-color: var(--secondary);
}


#darkModeSwitch {
    color: var(--primary);
    font-size: 1.3rem;

    /* 96px */
    /* line-height: 1; */
}

#darkModeSwitch.dark-mode {
    color: var(--secondary);

    /* 96px */
    /* line-height: 1; */
}

.border-acepipe {
    border-left-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 2px;
    border-top-width: 4px;
    border-color: rgba(255, 196, 0, 0.733);
}

.border-acepipe.dark-mode {
    border-color: rgba(143, 69, 0, 0.527);
}



.main-header {
    color: var(--primary);
    vertical-align: center;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main-header.dark-mode {
    color: var(--secondary);
}

#produto {
    color: var(--primary);
}

#produto.dark-mode {
    color: var(--secondary);
}

.mt-4 {
    margin-top: 1rem;
}


#prodDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.lang-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 1rem; */

}

/* .lang-flag {
    width: 2.2rem;
    height: 2.2rem;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    background-repeat: no-repeat;

}
*/

/* .lang-flag.dark-mode {
    filter: brightness(.75);
}  */

.categorias-help,.help-icon {
   color: var(--primary);
}



.help-icon.dark-mode {
    color: white;
}

.container-precario {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    columns: auto;
}



#cardPrecario {
    border-color: var(--primaryRgb);
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 4px;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
    background-color: var(--cardBackgroundRgb);
}

#cardPrecario.dark-mode {
    border-color: var(--darkModeCardBorder);
    background-color: var(--darkModeCardBg);
}


.cat-image {
    border-bottom-right-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
    transform: translateY(-1px);

}

.cat-image.dark-mode {
    filter: brightness(.75);

}

@media screen and (min-device-width: 1280px) {
    .cat-image {
        max-width: 100%;
    }

    .container-precario {
        max-width: 50%;
    }
}

.scroll-to-top {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 50px;
    /* Place the button at the bottom of the page */
    right: 5px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: var(--secondary);
    /* Set a background color */
    color: var(--primary);
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 50%;
    /* Rounded corners */
    font-size: 15px;
    /* Increase font size */
    opacity: 0.8;
}

.scroll-to-top.dark-mode {

    background-color: var(--primary);
    color: var(--secondary);

}

.navbar-link-ul {
    /* display: flex; */
    overflow: auto;
    /* flex-wrap: nowrap; */
    /* border-right-width: 2px; */
    /* border-left-width: 2px; */
    border-color: var(--primary);
    width: 100%;
    height: 100%;
    touch-action: pan-x;
}

.navbar-link-li {
    justify-content: center;
    text-align: center;
    height: auto;
    width: auto;


}


.navbar-link {
    text-decoration: none;
    color: var(--primary);
    /* background-color: rgba(255, 208, 1, 0.89); */
    font-weight: 630;
    white-space: nowrap;

    height: auto;
    width: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


.navbar-link.dark-mode {
    color: var(--secondary);
    /* background-color: rgba(172, 97, 0, 0.616); */

}

.navbar-link:hover,
.navbar-link:active {
    color: black;
}

.navbar-link:hover.dark-mode,
.navbar-link:active.dark-mode {
    color: white;
}


.header-precario {
    color: var(--primary);
    text-transform: capitalize;
    vertical-align: middle;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.header-precario.dark-mode {
    color: var(--secondary);
}


p {
    color: var(--primary);
    vertical-align: middle;
}

p.dark-mode {
    color: var(--secondary);
}

/* End of Custom CSS */
/* Oswald */

h1 {
    font-family: Oswald;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 54px;
}

h3 {
    font-family: Oswald;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 39.6px;
}

p {
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 32.4px;
}

blockquote {
    font-family: Amaranth;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26px;
}

pre {
    font-family: Amaranth;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26px;
}


/* Oswald */


/* loader */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px var(--secondary);
    border-radius: 50%;
    border-top: 16px solid var(--primary);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#preco {
    color: black;
}

#preco.dark-mode {
    color: white;
}

#igredientes {

    color: black;
    vertical-align: text-top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: fit-content;
}

#igredientes.dark-mode {
    color: white;
}



/*! tailwindcss v3.0.24 | MIT License | https://tailwindcss.com*/
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

:after,
:before {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* line-height: inherit; */
    background-color: var(--bodyBackgroundRgb);
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.dark-mode {
    background-color: var(--darkModeBg);
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: initial
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    background-color: initial;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: initial
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0
}

fieldset,
legend {
    padding: 0
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

[role=button],
button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    /* vertical-align: middle */
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,
:after,
:before {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #3b82f680;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}


.p-2 {
    padding: .5rem
}

.transparent {
    background-color: transparent;
}

.border-0 {
    border-width: 0
}

.justify-center {
    justify-content: center
}

.font-light {
    font-weight: 300
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.justify-self-end {
    justify-self: end
}

.justify-self-center {
    justify-self: center
}

.justify-self-start {
    justify-self: start
}

.mt-4 {
    margin-top: 1rem
}

.font-bold {
    font-weight: 700;
}

.text-lg {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.75rem;
    /* 28px */
}

.text-2xl {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
}

.mb-8 {
    margin-bottom: 2rem;
    /* 32px */
}